<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>User information</title>
    </head>

    <body>
        <h1>User information</h1>
        <h5> Username: {{user.username}} </h5>
        <h5> Password: {{user.password}} </h5>
        <h5> Email: {{user.email}} </h5>
        <h5> First name: {{user.first_name}} </h5>
        <h5> Last name: {{user.last_name}} </h5>
        <br>
        <h5> Name: {{account.name}} </h5>
        <h5> Social security number: {{account.pii}} </h5>
        <h5> Address: {{account.address}} </h5>

        <h2>Links</h2>
        <a href="/">Back to beginning</a>
        <a href="/read">Read messages</a>
    </body>
</html>
